body {
    background-color: white;
    margin-left: 300px;
    font-family: 'Cormorant Garamond', serif;
}
h1 {
    background-color: white;
    font-size: 40px;
    position: relative;
    top: 25px;
    left: 35px;
    font-family: 'Cormorant Garamond', serif;
    margin: 0%;
}
.cuadro {
    padding: 10px 5px 10px 5px;
    background-color: rgb(64, 89, 158);
    margin-left: -1.4%;
    margin-right: 30%;
    position: relative;
    top: 40px;
    margin-top: 0%;
}

.infopersonal {
    text-align: center;
    width: 530px;
    list-style-type: none;
    margin-top: 5%;
    position: relative;
    top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px dotted rgba(96, 128, 216, 0.281);
}

.yo{
    width: 550px;
    height: 140px;
    margin: 0;
    position: relative;
    left: 5px;
    top: 40px;
    border: solid;
    border-style: groove;
    border-color: rgb(64, 89, 158);;
}

.yo p {
    margin: 10px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
}

h2 {
    position: relative;
    top: 30px;
    margin-left: 3%;
    margin-top: 4%;
    margin-bottom: 20px;
}

#ed {
   top: 0px;
}

h3 {
    position: relative;
    top: 15px;
    margin-left: 3%;
    text-decoration: underline;
}

.study {
    top: 0px;
    margin: 5px;
    left: 18px;
}

h4 {
    position: relative;
    top: 10px;
    left: 30px;
    margin-left: 3%;
    margin-top: -2%;
}
.clase {
    font-style: italic;
}
.experiencias {
    margin-top: -1%;
    margin-left: 5%;
}
table {
    width: 75%;
    margin-top: -3%;
}

.video {
    left: 40px;
    position: relative;
}

.informacion {
    padding: 10px 10px 420px 10px;
    background-color: white;
    width: 73%;
    float: right;
}





.extras {
    width: 22%;
    padding: 10px 20px 790px 15px;
    background-color: black;
    color: white;
}

.contener {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0px;
    position: relative;
}
.contener > .crop {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

h5 {
    position: relative;
    top: 50px;
    margin: 0;
    font-size: 25px;
    text-align: center;
}

.infoad {
    margin: 0;
    position: relative;
    top: 80px;
    left: 5px;
    text-align: center;
    
}

.infoad th {
    font-size: 20px;
    border-bottom: dotted 1px white;
    
}

.infoad td {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin: ;
    margin-top: 100px;
    padding-top: 20px;
    padding-right: 20px;
}

h6 {
    position: relative;
    top: 140px;
    margin: 0;
    font-size: 25px;
    text-align: center;
}

#hab {
    position: relative;
    top: 140px;
    list-style-type: none;
    margin-left: -15%;
    font-size: 15px;
    margin-bottom: 70px;
}

#hab li {
    
}

.extras li {
    margin-top: 13%;
}


#uno {
    padding: 4px 80px 1px 1px;
    position: relative;
    background-color: grey;
    margin-left: 60%;
    margin-top: -5%;
}

#dos {
    padding: 4px 60px 1px 1px;
    background-color: grey;
    margin-left: 64%;
    margin-top: -5%;
}

#tres {
    padding: 4px 1px 1px 1px;
    background-color: grey;
    margin-left: 62%;
    margin-top: -5%;
}

#cuatro {
    padding: 4px 1px 1px 1px;
    background-color: grey;
    margin-left: 65%;
    margin-top: -5%;
}

.form {
    left: 15px;
    position: relative;
    top: 180px;
}

.form label  {
    text-align: center;
    font-size: 25px;
}



.cuadro:hover {
    background-color:black;
}
.fullsize {
    display: none;
    padding: 30px;
    margin-left: 10%;
}
.cuadro:hover .fullsize {
    display: block;
}
::selection {
    background-color: black;
    color: white
}